.header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: $c-bg;

  &__container {
    @extend %container;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__burger {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border: none;

    background: none;

    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }

    @include desktop {
      display: none;
    }
  }

  &__burger-icon {
    width: 24px;
    height: auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__logo-img {
    width: auto;
    height: 40px;

    &--mobile {
      display: block;

      @include desktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }

  &__nav {
    display: none;

    @include desktop {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__nav-list {
    display: flex;
    gap: 40px;
    margin-right: 300px;
  }

  &__nav-link {
    font-family: $font-poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $c-dark;
    text-decoration: none;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__cart {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border: none;

    background: none;

    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__cart-icon {
    width: 20px;
    height: 24px;
  }
}
